a {
  text-decoration: none;
  color: white;
}

.cards {
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
}

.card {
  margin: 1rem;
  padding: 12px;
  height: 400px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.01);
}

.card_header {
  height: 180px;
}

.card_header > img {
  border-radius: 50%;
  height: 180px;
}

.card_body {
  height: 170px;
  display: grid;
  grid-template: 1fr 2fr;
  align-content: space-around;
  color: #333;
}

.card_body > span {
  color: #111;
  font-size: 32px;
  font-weight: bold;
}

.card_btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #f6e082;
  border-style: none;
  color: whitesmoke;
  font-style: bold;
  font-size: 20px;
  transition: 0.2s;
}

.card_btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .cards {
    flex-direction: column;
  }
}
