* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff8dd;
}

/* 작은 화면에서 나타날 토글 navbar */
/* 토글바 기본 디자인 */
.navbar-toggle {
  display: none;
}

.navicon {
  cursor: pointer;
  height: 10vh;
  padding: 28px 15px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.navicon-list {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #333;
  position: relative;
  transition: background-color 0.2s ease-out;
}

.navicon-list::before,
.navicon-list::after {
  background-color: #333;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 0.2s ease-in;
}

.navicon-list::before {
  top: -7px;
}

.navicon-list::after {
  top: 7px;
}

/* 토글바가 클릭 되었을 때 */
.navbar-toggle:checked ~ .navicon > .navicon-list {
  background: transparent;
}

.navbar-toggle:checked ~ .navicon > .navicon-list::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggle:checked ~ .navicon > .navicon-list::after {
  transform: rotate(-45deg);
  top: 0;
}

/* navigation bar 기본 디자인 */
.navbar {
  width: 100%;
  height: 10vh;
  background-color: #fadf72;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 6px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
}

.navbar-logo {
  display: inline-flex;
  height: 100%;
  margin-left: 1rem;
  padding: 12px;
  align-items: center;
}

.navbar-list {
  float: right;
}

.navbar-list > li {
  list-style: none;
  display: inline-block;
}

.navbar-list > li > a {
  text-decoration: none;
  line-height: 10vh;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.navbar-list > li > a:hover {
  color: rgba(0, 0, 0, 0.9);
  font-size: larger;
  font-weight: bolder;
}

/* 미디어 쿼리를 이용한 반응형 웹 디자인 */
@media screen and (max-width: 600px) {
  .navbar {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-logo {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-list {
    display: none;
  }

  .navicon {
    display: block;
  }

  .navbar-toggle:checked ~ .navbar-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 3px 0 rgba(0, 0, 0, 0.05);
  }

  .navbar-list > li > a {
    padding: 10px 100px;
  }

  .navbar-list > li:hover {
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
}
